.expense-tracker-container{
  display: flex;
  padding-top: 50px;
  flex-direction: column;
  /* border: 1px red solid; */
  margin-left: 400px;
  margin-right: 400px
}
.title{
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 50px;
  text-align: center;
}
.balance-section{
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.balance-box{
  margin-top: 30px;
  background-color: gold;
  height: 100px;
  display: flex;
  flex-direction: row;
  padding: 20px;
}
.income{
  width: 50%;
  text-align: center;
  border-right: 1px solid red;
}
.expense{
  width: 50%;
  text-align: center
}
.history-title{
  border-bottom: 1px solid grey;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.transaction-card{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: antiquewhite;
  margin-bottom: 20px;
}
.add-title{
  border-bottom: 1px solid grey;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.input{
  margin-bottom: 20px;
}
.submit{
  text-align: center;
  background-color: blueviolet;
  width: 50%;
  margin: auto;
}